<header>
  <nav class="relative">
    <page-title>
      Daily Expense
    </page-title>
  </nav>
  <bottom-nav></bottom-nav>
</header>
<main class="relative top-20 py-2">
  <container>
    <section>
      <h2 class="text-xl">Hai, Ibnu</h2>
      <p class="opacity-75">Ada pengeluaran apa hari ini?</p>
    </section>

    <section class="mt-6">
      <div class="flex flex-row items-center justify-between gap-x-6">
        <div>
          <div class="flex h-40 w-40 items-center justify-center rounded-full bg-cerise-pink">
            <div class="flex h-[8.25rem] w-[8.25rem] items-center justify-center rounded-full bg-white">
              <div class="border-expense-home h-[7.5rem] w-[7.5rem] rounded-full p-4">
                <div class="flex h-full w-full flex-col items-center justify-center text-center text-xxs">
                  <div class="w-14">
                    <p class="leading-tight opacity-75">Pengeluaran Hari Ini</p>
                  </div>
                  <div class="my-1">
                    <p>
                      <span class="relative -top-2 text-xs font-bold">
                        Rp
                      </span>
                      <span class="text-lg font-bold"> 202,3k </span>
                    </p>
                  </div>
                  <div class="opacity-75">
                    <p>08 Agu 2022</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="w-full">
          <div class="-mt-1">
            <div class="flex h-12 w-full flex-row items-center gap-x-2 border border-t-0 border-r-0 border-l-0 border-dotted border-oxford-blue">
              <div class="w-5">
                <i class="bi bi-calendar2-week text-sm opacity-75"></i>
              </div>
              <div class="w-full">
                <div class="text-xxs opacity-75">Bulan Ini</div>
                <div class="text-xs">Rp 1.694.000,-</div>
              </div>
            </div>
            <div class="flex h-12 w-full flex-row items-center gap-x-2 border border-t-0 border-r-0 border-l-0 border-dotted border-oxford-blue">
              <div class="w-5">
                <i class="bi bi-puzzle text-sm opacity-75"></i>
              </div>
              <div class="w-full">
                <div class="text-xxs opacity-75">Rata-rata Harian</div>
                <div class="text-xs">Rp 78.500,-</div>
              </div>
            </div>
            <div class="flex h-12 w-full flex-row items-center gap-x-2 border border-t-0 border-r-0 border-l-0 border-dotted border-transparent">
              <div class="w-5">
                <i class="bi bi-sort-up text-sm opacity-75"></i>
              </div>
              <div class="w-full">
                <div class="text-xxs opacity-75">Tertinggi Harian</div>
                <div class="text-xs">Rp 850.000,-</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="mt-8 pb-14">
      <h2 class="text-sm font-bold">Data Pengeluaran</h2>
      <div class="mt-4 flex flex-row justify-between gap-x-4">
        <div class="w-2/5">
          <button-link
            [path]="'/expenses/create'"
            [icon]="'bi bi-plus'"
            [text]="'Pengeluaran'"
          ></button-link>
        </div>
        <div class="w-3/5">
          <toolbar-input-text
            [icon]="'bi bi-calendar2-week'"
            [value]="'01 Agu 2022 - 10 Agu 2022'"
          ></toolbar-input-text>
        </div>
      </div>

      <div class="mt-4">
        <div class="rounded-xl px-4 py-1 bg-cultured">
          <p class="text-center">
            <span>
              Total :
            </span>
            <span class="font-bold">
              Rp 1.607.500,-
            </span>
          </p>
        </div>
      </div>

      <div class="mt-4">

        <dashboard-expense-item
          [expenseName]="'Bensin motor pertamax'"
          [amount]="50000"
          [categoryName]="'Operasional Motor'"
          [createdAt]="'2022-08-15T08:27:35.262Z'"
        ></dashboard-expense-item>

        <dashboard-expense-item
          [expenseName]="'Martabak telor'"
          [amount]="20000"
          [categoryName]="'Jajan Kita'"
          [createdAt]="'2022-08-06T08:27:35.262Z'"
        ></dashboard-expense-item>

        <dashboard-expense-item
          [expenseName]="'Sate ayam'"
          [amount]="14000"
          [categoryName]="'Kebutuhan Pangan'"
          [createdAt]="'2022-08-04T08:27:35.262Z'"
        ></dashboard-expense-item>

        <dashboard-expense-item
          [expenseName]="'Kuota Smartfren'"
          [amount]="45000"
          [categoryName]="'Pulsa dan Kuota'"
          [createdAt]="'2022-08-01T08:27:35.262Z'"
        ></dashboard-expense-item>

      </div>
    </section>
  </container>
</main>
