<header>
  <nav class="relative">
    <page-title>
      Kategori
    </page-title>
  </nav>
  <bottom-nav></bottom-nav>
</header>
<main class="relative top-20 py-2">
  <container>
    <div class="w-32">
      <toolbar-primary-button (onClick)="addNewCategoryHandler()">
        <i class="bi bi-plus"></i>
        <span class="ml-1"> Kategori Baru </span>
      </toolbar-primary-button>
    </div>
    <div class="mt-4 w-full">
      <input-prepend-icon [icon]="'bi bi-search'"></input-prepend-icon>
    </div>
    <div class="mt-4">
      <ctg-category-item
        [categoryName]="'Arisan'"
        (onClickDeleteButtonEvent)="onClickDeleteButton()"
        (onClickEditButtonEvent)="onClickEditButton()"
      ></ctg-category-item>
      <ctg-category-item
        [categoryName]="'Operasional Motor'"
        (onClickDeleteButtonEvent)="onClickDeleteButton()"
        (onClickEditButtonEvent)="onClickEditButton()"
      ></ctg-category-item>
      <ctg-category-item
        [categoryName]="'Pulsa & Kuota'"
        (onClickDeleteButtonEvent)="onClickDeleteButton()"
        (onClickEditButtonEvent)="onClickEditButton()"
      ></ctg-category-item>
      <ctg-category-item
        [categoryName]="'BPJS'"
        (onClickDeleteButtonEvent)="onClickDeleteButton()"
        (onClickEditButtonEvent)="onClickEditButton()"
      ></ctg-category-item>
      <ctg-category-item
        [categoryName]="'Jajan Kita'"
        (onClickDeleteButtonEvent)="onClickDeleteButton()"
        (onClickEditButtonEvent)="onClickEditButton()"
      ></ctg-category-item>
      <ctg-category-item
        [categoryName]="'Listrik & Wifi'"
        (onClickDeleteButtonEvent)="onClickDeleteButton()"
        (onClickEditButtonEvent)="onClickEditButton()"
      ></ctg-category-item>
    </div>
  </container>

  <div class="fixed inset-0 z-30 bg-gray-900 bg-opacity-60" *ngIf="showAddForm">
    <div
      class="absolute left-0 top-auto right-0 bottom-0 rounded-tl-xl rounded-tr-xl bg-white py-8"
    >
      <container>
        <div class="mx-auto w-56">
          <h4 class="text-center text-base font-bold">Kategori Baru</h4>
        </div>
        <div class="mt-6">
          <fieldset class="mb-6">
            <label class="mb-1 block"> Nama Kategori </label>
            <input-text></input-text>
          </fieldset>
          <fieldset class="mb-6">
            <label class="mb-1 block"> Nomor Urut </label>
            <input-text [type]="'number'"></input-text>
          </fieldset>
        </div>
        <div class="mt-6 flex flex-row items-center justify-center gap-x-4">
          <div class="w-36">
            <primary-button-transparent (onClick)="cancelNewCategoryHandler()">
              Batal
            </primary-button-transparent>
          </div>
          <div class="w-36">
            <primary-button-bg (onClick)="saveNewCategoryHandler()">
              Simpan
            </primary-button-bg>
          </div>
        </div>
      </container>
    </div>
  </div>

  <div class="fixed inset-0 z-30 bg-gray-900 bg-opacity-60" *ngIf="showEditForm">
    <div
      class="absolute left-0 top-auto right-0 bottom-0 rounded-tl-xl rounded-tr-xl bg-white py-8"
    >
      <container>
        <div class="mx-auto w-56">
          <h4 class="text-center text-base font-bold">Edit Kategori</h4>
        </div>
        <div class="mt-6">
          <fieldset class="mb-6">
            <label class="mb-1 block"> Nama Kategori </label>
            <input-text [value]="'Arisan'"></input-text>
          </fieldset>
          <fieldset class="mb-6">
            <label class="mb-1 block"> Nomor Urut </label>
            <input-text [type]="'text'" [value]="'2'"></input-text>
          </fieldset>
        </div>
        <div class="mt-6 flex flex-row items-center justify-center gap-x-4">
          <div class="w-36">
            <primary-button-transparent
              (onClick)="cancelEditCategoryHandler()"
            >
              Batal
            </primary-button-transparent>
          </div>
          <div class="w-36">
            <primary-button-bg (onClick)="saveEditCategoryHandler()">
              Simpan
            </primary-button-bg>
          </div>
        </div>
      </container>
    </div>
  </div>


  <div
    class="fixed inset-0 z-30 bg-gray-900 bg-opacity-60"
    *ngIf="showDeleteConfirm"
  >
    <div
      class="absolute left-0 top-auto right-0 bottom-0 rounded-tl-xl rounded-tr-xl bg-white py-10"
    >
      <container>
        <div class="mx-auto w-56">
          <p class="text-center">
            Apakah Anda yakin ingin menghapus kategori ini?
          </p>
        </div>
        <div class="mt-6 flex flex-row items-center justify-center gap-x-4">
          <div class="w-36">
            <danger-button-transparent (onClick)="onCancelDelete()">
              Tidak
            </danger-button-transparent>
          </div>
          <div class="w-36">
            <danger-button-bg (onClick)="onSaveExpense()">
              Ya, Hapus
            </danger-button-bg>
          </div>
        </div>
      </container>
    </div>
  </div>

</main>
