<nav
  class="fixed top-auto right-0 bottom-0 left-0 z-30 w-full border border-r-0 border-b-0 border-l-0 bg-gray-50 py-3"
>
  <ul class="flex flex-row items-center justify-between">
    <li class="w-1/3 text-center text-gray-500">
      <a routerLink="/dashboard" routerLinkActive="text-charged-blue">
        <i class="bi bi-house-door text-2xl"></i>
      </a>
    </li>
    <li class="w-1/3 text-center text-gray-500">
      <a routerLink="/categories" routerLinkActive="text-charged-blue">
        <i class="bi bi-tag text-2xl"></i>
      </a>
    </li>
    <li class="w-1/3 text-center text-gray-500">
      <a routerLink="/account/profile" routerLinkActive="text-charged-blue">
        <i class="bi bi-person text-2xl"></i>
      </a>
    </li>
  </ul>
</nav>
