<header>
  <nav class="relative">
    <page-back-button [path]="'/'"></page-back-button>
    <page-title>
      Edit Pengeluaran
    </page-title>
    <top-bar-right-action>
      <danger-button-transparent (onClick)="onDeleteExpense()">
        <i class="bi bi-trash text-base"></i>
      </danger-button-transparent>
    </top-bar-right-action>
  </nav>
</header>
<main class="relative top-20 py-2">
  <container>
    <fieldset class="mb-6">
      <label class="mb-1 block"> Tanggal </label>
      <input-append-icon
        [appendedIcon]="'bi bi-calendar2-week'"
        [value]="valueDate"
      ></input-append-icon>
    </fieldset>
    <fieldset class="mb-6">
      <label class="mb-1 block"> Nominal </label>
      <input-prepend-text [prependText]="'Rp'"></input-prepend-text>
    </fieldset>
    <fieldset class="mb-6">
      <label class="mb-1 block"> Keperluan </label>
      <input-text></input-text>
    </fieldset>
    <fieldset class="mb-6">
      <label class="mb-1 block"> Kategori </label>
      <div
        class="h-36 overflow-y-auto rounded-xl border border-solid border-gray-300 p-4"
      >
        <eps-category-item
          *ngFor="let category of categories"
          [value]="category.value"
          [label]="category.label"
        ></eps-category-item>
      </div>
    </fieldset>
    <div class="flex flex-row items-center justify-center gap-x-4">
      <div class="w-36">
        <primary-button-bg (onClick)="onSaveExpense()">
          Simpan
        </primary-button-bg>
      </div>
    </div>
  </container>

  <div
    class="fixed inset-0 z-30 bg-gray-900 bg-opacity-60"
    *ngIf="showDeleteConfirm"
  >
    <div
      class="absolute left-0 top-auto right-0 bottom-0 rounded-tl-xl rounded-tr-xl bg-white py-10"
    >
      <container>
        <div class="mx-auto w-56">
          <p class="text-center">
            Apakah Anda yakin ingin menghapus pengeluaran ini?
          </p>
        </div>
        <div class="mt-6 flex flex-row items-center justify-center gap-x-4">
          <div class="w-36">
            <danger-button-transparent (onClick)="onCancelDelete()">
              Tidak
            </danger-button-transparent>
          </div>
          <div class="w-36">
            <danger-button-bg (onClick)="onSaveExpense()">
              Ya, Hapus
            </danger-button-bg>
          </div>
        </div>
      </container>
    </div>
  </div>
</main>

