<header>
  <nav class="relative">
    <app-page-title [text]="pageTitle"></app-page-title>
  </nav>
  <app-bottom-nav></app-bottom-nav>
</header>
<main class="relative top-20 py-2">
  <app-container>
    <div class="w-32">
      <app-primary-button (onClick)="addNewCategoryHandler()">
        <i class="bi bi-plus"></i>
        <span class="ml-1"> Kategori Baru </span>
      </app-primary-button>
    </div>
    <div class="mt-4 w-full">
      <div
        class="flex h-9 flex-row items-center justify-between rounded-xl border border-solid border-gray-300 px-4 py-2"
      >
        <div class="w-8">
          <i class="bi bi-search"></i>
        </div>
        <div class="w-full">
          <input type="text" class="w-full outline-none" />
        </div>
      </div>
    </div>
    <div class="mt-4"></div>
  </app-container>
</main>

<div class="fixed inset-0 z-30 bg-gray-900 bg-opacity-60" *ngIf="showAddForm">
  <div
    class="absolute left-0 top-auto right-0 bottom-0 rounded-tl-xl rounded-tr-xl bg-white py-8"
  >
    <app-container>
      <div class="mx-auto w-56">
        <h4 class="text-center text-base font-bold">Kategori Baru</h4>
      </div>
      <div class="mt-6">
        <fieldset class="mb-6">
          <label class="mb-1 block"> Nama Kategori </label>
          <input-text></input-text>
        </fieldset>
        <fieldset class="mb-6">
          <label class="mb-1 block"> Nomor Urut </label>
          <input-text [type]="textNumber"></input-text>
        </fieldset>
      </div>
      <div class="mt-6 flex flex-row items-center justify-center gap-x-4">
        <div class="w-36">
          <form-primary-button-transparent (onClick)="cancelNewCategoryHandler()">
            Batal
          </form-primary-button-transparent>
        </div>
        <div class="w-36">
          <form-primary-button-bg (onClick)="saveNewCategoryHandler()">
            Simpan
          </form-primary-button-bg>
        </div>
      </div>
    </app-container>
  </div>
</div>
