<header>
  <nav class="relative">
    <app-page-back-button [path]="pathToHome"></app-page-back-button>
    <app-page-title [text]="pageTitle"></app-page-title>
  </nav>
</header>
<main class="relative top-20 py-2">
  <app-container>
    <fieldset class="mb-6">
      <label class="mb-1 block"> Tanggal </label>
      <input-append-icon
        [appendedIcon]="iconCalendar"
        [value]="valueDate"
      ></input-append-icon>
    </fieldset>
    <fieldset class="mb-6">
      <label class="mb-1 block"> Nominal </label>
      <input-prepend-text [prependText]="textRupiah"></input-prepend-text>
    </fieldset>
    <fieldset class="mb-6">
      <label class="mb-1 block"> Keperluan </label>
      <input-text></input-text>
    </fieldset>
    <fieldset class="mb-6">
      <label class="mb-1 block"> Kategori </label>
      <div
        class="h-36 overflow-y-auto rounded-xl border border-solid border-chinese-silver p-4"
      >
        <app-form-category-item
          *ngFor="let category of categories"
          [value]="category.value"
          [label]="category.label"
        ></app-form-category-item>
      </div>
    </fieldset>
    <div>
      <div class="mx-auto w-36">
        <form-primary-button-bg (onClick)="onSaveExpense()">
          Simpan
        </form-primary-button-bg>
      </div>
    </div>
  </app-container>
</main>
