<header>
  <nav class="relative">
    <page-back-button [path]="'/account/profile'"></page-back-button>
    <page-title>
      Ganti Kata Sandi
    </page-title>
  </nav>
</header>
<main class="relative top-20 py-2">
  <container>
    <fieldset class="mb-6">
      <label class="mb-1 block">
        Kata Sandi Saat Ini
      </label>
      <input-text [type]="'password'"></input-text>
    </fieldset>
    <fieldset class="mb-6">
      <label class="mb-1 block">
        Kata Sandi Baru
      </label>
      <input-text [type]="'password'"></input-text>
    </fieldset>
    <fieldset class="mb-6">
      <label class="mb-1 block">
        Ulangi Kata Sandi Baru
      </label>
      <input-text [type]="'password'"></input-text>
    </fieldset>
    <div>
      <div class="mx-auto w-36">
        <primary-button-bg (onClick)="onSaveButton()">
          Simpan
        </primary-button-bg>
      </div>
    </div>
  </container>
</main>
