<header>
  <nav class="relative">
    <sh-page-back-button [path]="'/account/profile'"></sh-page-back-button>
    <sh-page-title [text]="'Ganti Kata Sandi'"></sh-page-title>
  </nav>
</header>
<main class="relative top-20 py-2">
  <sh-container>
    <fieldset class="mb-6">
      <label class="mb-1 block">
        Kata Sandi Saat Ini
      </label>
      <sh-input-text [type]="'password'"></sh-input-text>
    </fieldset>
    <fieldset class="mb-6">
      <label class="mb-1 block">
        Kata Sandi Baru
      </label>
      <sh-input-text [type]="'password'"></sh-input-text>
    </fieldset>
    <fieldset class="mb-6">
      <label class="mb-1 block">
        Ulangi Kata Sandi Baru
      </label>
      <sh-input-text [type]="'password'"></sh-input-text>
    </fieldset>
    <div>
      <div class="mx-auto w-36">
        <sh-primary-button-bg (onClick)="onSaveButton()">
          Simpan
        </sh-primary-button-bg>
      </div>
    </div>
  </sh-container>
</main>
