<header>
  <nav class="relative">
    <page-back-button [path]="'/'"></page-back-button>
    <page-title>
      Catat Pengeluaran
    </page-title>
  </nav>
</header>
<main class="relative top-20 py-2">
  <container>
    <fieldset class="mb-6">
      <label class="mb-1 block"> Tanggal </label>
      <input-append-icon
        [appendedIcon]="'bi bi-calendar2-week'"
        [value]="valueDate"
      ></input-append-icon>
    </fieldset>
    <fieldset class="mb-6">
      <label class="mb-1 block"> Nominal </label>
      <input-prepend-text [prependText]="'Rp'"></input-prepend-text>
    </fieldset>
    <fieldset class="mb-6">
      <label class="mb-1 block"> Keperluan </label>
      <input-text></input-text>
    </fieldset>
    <fieldset class="mb-6">
      <label class="mb-1 block"> Kategori </label>
      <div
        class="h-36 overflow-y-auto rounded-xl border border-solid border-chinese-silver p-4"
      >
        <eps-category-item
          *ngFor="let category of categories"
          [value]="category.value"
          [label]="category.label"
        ></eps-category-item>
      </div>
    </fieldset>
    <div>
      <div class="mx-auto w-36">
        <primary-button-bg (onClick)="onSaveExpense()">
          Simpan
        </primary-button-bg>
      </div>
    </div>
  </container>
</main>
