<header>
  <nav class="relative">
    <sh-page-back-button [path]="'/'"></sh-page-back-button>
    <sh-page-title [text]="'Catat Pengeluaran'"></sh-page-title>
  </nav>
</header>
<main class="relative top-20 py-2">
  <sh-container>
    <fieldset class="mb-6">
      <label class="mb-1 block"> Tanggal </label>
      <sh-input-append-icon
        [appendedIcon]="'bi bi-calendar2-week'"
        [value]="valueDate"
      ></sh-input-append-icon>
    </fieldset>
    <fieldset class="mb-6">
      <label class="mb-1 block"> Nominal </label>
      <sh-input-prepend-text [prependText]="'Rp'"></sh-input-prepend-text>
    </fieldset>
    <fieldset class="mb-6">
      <label class="mb-1 block"> Keperluan </label>
      <sh-input-text></sh-input-text>
    </fieldset>
    <fieldset class="mb-6">
      <label class="mb-1 block"> Kategori </label>
      <div
        class="h-36 overflow-y-auto rounded-xl border border-solid border-chinese-silver p-4"
      >
        <eps-category-item
          *ngFor="let category of categories"
          [value]="category.value"
          [label]="category.label"
        ></eps-category-item>
      </div>
    </fieldset>
    <div>
      <div class="mx-auto w-36">
        <sh-primary-button-bg (onClick)="onSaveExpense()">
          Simpan
        </sh-primary-button-bg>
      </div>
    </div>
  </sh-container>
</main>
