<div class="mb-4 px-4 py-3 border border-solid border-gray-300 rounded-xl">
    <div class="flex flex-row items-center justify-between gap-x-2">
        <div class="w-full">
            <div class="">
                <span class="rounded-2xl px-2 py-1 bg-gray-300 text-xxs">
                    Elektronik
                </span>
            </div>
            <div class="mt-2 flex flex-row items-center justify-between">
                <div class="w-full">
                    <div class="text-sm font-bold">
                        Rp 11.500.000,-
                    </div>
                    <div class="mt-1 text-gray-600">
                        Lorem ipsum dolor sit...
                    </div>
                </div>
                <div class="w-28 text-gray-600">
                    <div class="">06</div>
                    <div class="">
                        Agu 2022
                    </div>
                </div>
            </div>
        </div>
        <div class="h-full flex items-center justify-center">
            <button
                class="w-6 h-6 rounded-full inline-flex items-center justify-center bg-gray-500 text-white"
                (click)="onClickEvent()">
                <i class="bi bi-chevron-right"></i>
            </button>
        </div>
    </div>
</div>

